<a href="https://colab.research.google.com/github/HFOURM/Praktikum-Struktur-Data/blob/main/2402506018_STRUKDAT_ARRAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Array 1 Dimensi

In [ ]:
# Deklarasi array kosong
data = []

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menampilkan isi array
print("Isi array angka :", angka)

Isi array angka : [10, 20, 30, 40, 50]

Latihan 1

In [ ]:
# Inisialisasi array NPM
npm = [2420506018 ,2420506019, 2420506020 ,2420506021]

# Menampilkan isi array
print("NPM saya dan 4 NPM setelah saya adalah :", npm)

NPM saya dan 4 NPM setelah saya adalah : [2420506018, 2420506019, 2420506020, 2420506021]

Operasi dasar pada array

In [ ]:
# Mengakses elemen Array
print("Element pertama:", angka[0])
print("Element terakhir:", angka[-1])

In [ ]:
# Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah ditambah:", angka)

# Menambah elemen menggunakan insert()
angka.insert(2, 25) # Menggunakan 25 di indeks ke-2
print("Array setelah penambahan element dengan insert", angka)

In [ ]:
# Menghapus elemen menggunakan remove()
angka.remove(25)
print("Array setelah dihapus:", angka)

# Menghapus elemen menggunakan pop()
angka.pop(2) # Menghapus elemen pada indeks ke-2
print("Array setelah menghapus pada indeks 2:", angka)

In [ ]:
# Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

Latihan 2

In [ ]:
# Inisialisasi array angka
angka = [10, 20, 30, 40, 50]

# Menambah  nilai NPM (2 digit terakhir)
angka.append(18)

# Menghapus elemen pertama
angka.remove(angka[0])

# Menampilkan isi array
print(angka)

[20, 30, 40, 50, 18]

# Iterasi dan Operasi pada Array

In [ ]:
# Iterasi dengan perulangan
angka = [10, 20, 30, 40]

for nilai in angka:
    print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

Latihan 3

In [ ]:
nama = ["TEKNIK", "EKONOMI", "KEGURUAN DAN ILMU PENDIDIKAN", "ILMU SOSIAL DAN ILMU POLITIK", "PERTANIAN"]

for fakultas in nama:
    print("FAKULTAS", fakultas)

FAKULTAS TEKNIK
FAKULTAS EKONOMI
FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN
FAKULTAS ILMU SOSIAL DAN ILMU POLITIK
FAKULTAS PERTANIAN

In [ ]:
# Operasi matematika sederhana
angka = [10, 20, 30, 40]

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum 10

Latihan 4

In [ ]:
harga = [ 2000, 5000, 10000,  20000]

print('Jumlah elemen array harga adalah :', len(harga))

Jumlah elemen array harga adalah : 4

# Array 2 Dimensi

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Menampilkan isi array 2D
print(" isi array 2D:")
for baris in matriks:
    print(baris)

 isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Latihan 5

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3, 4,],
    [5, 6, 7, 8,],
    [9, 10, 11, 12,]
]

# Menampilkan  isi array 2D
print("Isi array:")
for baris in matriks:
    print(baris)

Isi array:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
# Mengakses elemen pada baris ke-1, kolom ke-2 (indeks [0] [1])
print("Elemen pada baris ke-1, kolom ke-2:", matriks[0][1])

# Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks[-1][-1])

Latihan 6

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3, 4,],
    [5, 6, 7, 8,],
    [9, 10, 11, 12,]
]

# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
    print(baris)

# Mengakses elemen pada baris ke-3, kolom ke-4 (indeks [2] [3])
print("Elemen pada baris ke-3, kolom ke-4:", matriks[2][3])

Isi array:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
Elemen pada baris ke-3, kolom ke-4: 12

In [ ]:
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

# Menambah elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen pada baris ke-2:", matriks)

Latihan 7

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3, 4,],
    [5, 6, 7, 8,],
    [9, 10, 11, 12,]
]

# Menambahkan baris baru
matriks.append([6, 5, 20, 6])

# Menampilkan isi array 2D
print("Isi array 2D:")
for baris in matriks:
    print(baris)

Isi array 2D:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[6, 5, 20, 6]

In [ ]:
# Menghapus element tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

# Menghapus elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke-1 dari baris ke-2:", matriks)

Latihan 8

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3, 4,],
    [5, 6, 7, 8,],
    [9, 10, 11, 12,]
]

# Menambahkan barus baru
matriks.append([6, 5, 20, 6])

# Menghapus element ke-3 dari baris terakhir
matriks[-1].pop(2)

# Menampilkan isi array 2D
print("Array setelah menghapus elemen indeks ke-2 dari baris terakhir:")
for baris in matriks:
    print(baris)

Array setelah menghapus elemen indeks ke-2 dari baris terakhir:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[6, 5, 6]

In [ ]:
# Mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][1] = 88
print("Array setelah mengubah elemen baris ke-3, kolom ke-2:", matriks)

Latihan 9

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3, 4,],
    [5, 6, 7, 8,],
    [9, 10, 11, 12,]
]

# Menambahkan barus baru
matriks.append([6, 5, 20, 6])

# Menghapus element ke-3 dari baris terakhir
matriks[-1].pop(2)

# Mengubah elemen pada baris terakhir kolom terakhir dengan tanggal hari ini "14"
matriks[-1][-1] = 14

# Menampilkan isi array 2D
print("Array setelah mengubah elemen baris terakhir, kolom terakhir:")
for baris in matriks:
    print(baris)

Array setelah mengubah elemen baris terakhir, kolom terakhir:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[6, 5, 14]

# Studi Kasus Sederhana

In [ ]:
# Menyimpan Daftar Belanja
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru", belanja)

Daftar belanja terbaru ['Beras', 'Minyak', 'Teh']

Latihan 10

In [ ]:
# Daftar Belanja
belanja = ["Poco X7", "Redmi note 14 5G", "Legion 5"]
belanja.append("Toyota Supra")
belanja.remove("Poco X7")
print("Daftar belanja terbaru")
for barang in belanja:
    print(barang)

Daftar belanja terbaru
Redmi note 14 5G
Legion 5
Toyota Supra